<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mening birinchi veb saytim</title>
</head>
<body>
<!-- Bu yerda <head1> qismi bor -->
<h1 style="color: #1b1b1b; text-align: center">
    Home Page
</h1>
<!-- Pastgi kodda paragraf boshlanishi yani headdan kiyengi xalat -->
<!-- <p> dan kiyengi kod style berish yani yozuvni shaklini, qalinligini, rangi uzgartirish mumkun bulgan holat -->
<p style="opacity:3; text-align: center; font-weight: bold">
    <b>Welcome our website!!!</b>
</p>
<p style="color: blue; text-align: center">
<a href="http://127.0.0.1:8000/login/"><b> Login </b></a> | <a href="http://127.0.0.1:8000/regester/"><b>Regester</b></a>

</p>
<!-- Bu yerda paragraf  qismi tugadi -->
</body>
</html>