<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    This is Rester page
</h1>
<form>
    <label>Ismingizni kiriting</label>
    <label>
        <input type="text"
        placeholder="Ism">
    </label> <br><br>
    <label>Familiyangizni kiriting</label>
    <label>
        <input type="text"
        placeholder="Familiya">
    </label> <br><br>
    <label>Username kiriting </label>
    <label>
        <input type="text"
        placeholder="Username">
    </label> <br><br>
    <label>Password kiriting</label>
    <label>
        <input type="password"
        placeholder="Password">
    </label> <br><br>
    <label>Phone number kiriting </label>
    <label>
        <input type="text"
               placeholder="Phone number"
                    maxlength="9">
    </label> <br><br>
    <button  type="reset">Xammasini tozalash</button>


</form>  <br>

<a href="http://127.0.0.1:8000/login/">Regester</a> <br><br><br>

<a href="http://127.0.0.1:8000/">Back</a>
</body>
</html>